body {
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
    color: #000;
    overflow-y:scroll;
}
body, p, form, button, dl, dt, dd, h1, h2, h3, h4, h5, h6, table, tr, td, ul, li {
    margin: 0px;
    padding: 0px;
}
a {
	color: #0366D8;
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
	color: #F47D37;
}
.clearfix {
    clear: both;
}
body,
input,
textarea,
select,
button {
  text-rendering: optimizeLegibility;
  /* 1 */
  -webkit-font-smoothing: antialiased;
  /* 2 */
  -moz-osx-font-smoothing: grayscale;
  /* 3 Default: auto */
  -moz-font-feature-settings: "liga", "kern";
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
input:not([type="radio"]):not([type="checkbox"]),
select {
  vertical-align: middle;
}
select optgroup {
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
}
/* 失效 */
button[disabled],
html input[disabled] {
  cursor: default;
}
.btn.disabled, .btn[disabled] {
  pointer-events: none;
  border-color: transparent;
  cursor: not-allowed;
  opacity: 0.45;
  -webkit-box-shadow: none;
          box-shadow: none;
}
/* 按钮组 */
.btn-group {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.btn-group > .btn {
  position: relative;
  float: left;
}
.btn-group > .btn:focus {
  outline: 0;
}
.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active {
  z-index: 2;
}
.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: -1px;
}
/* 按钮 */
.btn {
	display: inline-block;
	margin-bottom: 0;
	padding: 0.5em 1em;
	vertical-align: middle;
	line-height: 1.2;
	font-weight: normal;
	text-align: center;
	white-space: nowrap;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 0;
	cursor: pointer;
	outline: none;
	-webkit-appearance: none;
	-webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
	-webkit-transition: background-color 300ms ease-out, border-color 300ms ease-out;
	transition: background-color 300ms ease-out, border-color 300ms ease-out;
}
a.btn {
	padding: 0.6em 1em;
}
.btn:focus,
.btn:active:focus {
  outline: thin dotted;
  outline: 1px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #444;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
}
.btn-default {
  color: #444;
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}
a.btn-default:visited {
  color: #444;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
  color: #444;
  border-color: #c7c7c7;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #d4d4d4;
}
.btn-default:active,
.btn-default.active {
  background-image: none;
  background-color: #c2c2c2;
}
.btn-default.disabled,
.btn-default[disabled],
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
.btn-default.disabled.active,
.btn-default[disabled].active {
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}
.btn-group .btn-default {
  border-color: #d9d9d9;
}
.btn-primary {
  color: #fff;
  background-color: #0e90d2;
  border-color: #0e90d2;
}
a.btn-primary:visited {
  color: #fff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #fff;
  border-color: #0a6999;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #0c79b1;
}
.btn-primary:active,
.btn-primary.active {
  background-image: none;
  background-color: #0a628f;
}
.btn-primary.disabled,
.btn-primary[disabled],
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active {
  background-color: #0e90d2;
  border-color: #0e90d2;
}
.btn-group .btn-primary {
  border-color: #0c80ba;
}
.btn-secondary {
  color: #fff;
  background-color: #3bb4f2;
  border-color: #3bb4f2;
}
a.btn-secondary:visited {
  color: #fff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #fff;
  border-color: #0f9ae0;
}
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #19a7f0;
}
.btn-secondary:active,
.btn-secondary.active {
  background-image: none;
  background-color: #0e93d7;
}
.btn-secondary.disabled,
.btn-secondary[disabled],
.btn-secondary.disabled:hover,
.btn-secondary[disabled]:hover,
.btn-secondary.disabled:focus,
.btn-secondary[disabled]:focus,
.btn-secondary.disabled:active,
.btn-secondary[disabled]:active,
.btn-secondary.disabled.active,
.btn-secondary[disabled].active {
  background-color: #3bb4f2;
  border-color: #3bb4f2;
}
.btn-group .btn-secondary {
  border-color: #23abf0;
}
.btn-warning {
  color: #fff;
  background-color: #F37B1D;
  border-color: #F37B1D;
}
a.btn-warning:visited {
  color: #fff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active {
  color: #fff;
  border-color: #c85e0b;
}
.btn-warning:hover,
.btn-warning:focus {
  background-color: #e0690c;
}
.btn-warning:active,
.btn-warning.active {
  background-image: none;
  background-color: #be590a;
}
.btn-warning.disabled,
.btn-warning[disabled],
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active {
  background-color: #F37B1D;
  border-color: #F37B1D;
}
.btn-group .btn-warning,
.btn-group-stacked .btn-warning {
  border-color: #ea6e0c;
}
.btn-danger {
  color: #fff;
  background-color: #dd514c;
  border-color: #dd514c;
}
a.btn-danger:visited {
  color: #fff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active {
  color: #fff;
  border-color: #c62b26;
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: #d7342e;
}
.btn-danger:active,
.btn-danger.active {
  background-image: none;
  background-color: #be2924;
}
.btn-danger.disabled,
.btn-danger[disabled],
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active {
  background-color: #dd514c;
  border-color: #dd514c;
}
.btn-group .btn-danger,
.btn-group-stacked .btn-danger {
  border-color: #d93c37;
}
.btn-success {
  color: #fff;
  background-color: #5eb95e;
  border-color: #5eb95e;
}
a.btn-success:visited {
  color: #fff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active {
  color: #fff;
  border-color: #429842;
}
.btn-success:hover,
.btn-success:focus {
  background-color: #4aaa4a;
}
.btn-success:active,
.btn-success.active {
  background-image: none;
  background-color: #3f913f;
}
.btn-success.disabled,
.btn-success[disabled],
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
.btn-success.disabled.active,
.btn-success[disabled].active {
  background-color: #5eb95e;
  border-color: #5eb95e;
}
.btn-group .btn-success,
.btn-group-stacked .btn-success {
  border-color: #4db14d;
}

/* form */
input[type="search"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  /* IE8-9 */
  line-height: normal;
}
input[type="file"] {
  display: block;
}
select[multiple],
select[size] {
  height: auto;
}
select optgroup {
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 1px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  height: auto;
}
.form select,
.form textarea,
.form input[type="text"],
.form input[type="password"],
.form input[type="datetime"],
.form input[type="datetime-local"],
.form input[type="date"],
.form input[type="month"],
.form input[type="time"],
.form input[type="week"],
.form input[type="number"],
.form input[type="email"],
.form input[type="url"],
.form input[type="search"],
.form input[type="tel"],
.form input[type="color"],
.form-field {
  padding: 0.1em 0.1em 0.1em 0.3em;
  line-height:1.45em;
  color: #555555;
  vertical-align: middle;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0;
  
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}
.form input[type="text"],
.form input[type="number"] {
	line-height:1.6em;
}
.form select:focus,
.form textarea:focus,
.form input[type="text"]:focus,
.form input[type="password"]:focus,
.form input[type="datetime"]:focus,
.form input[type="datetime-local"]:focus,
.form input[type="date"]:focus,
.form input[type="month"]:focus,
.form input[type="time"]:focus,
.form input[type="week"]:focus,
.form input[type="number"]:focus,
.form input[type="email"]:focus,
.form input[type="url"]:focus,
.form input[type="search"]:focus,
.form input[type="tel"]:focus,
.form input[type="color"]:focus,
.form-field:focus {
  outline: 0;
}
.form select:focus,
.form textarea:focus,
.form input[type="text"]:focus,
.form input[type="password"]:focus,
.form input[type="datetime"]:focus,
.form input[type="datetime-local"]:focus,
.form input[type="date"]:focus,
.form input[type="month"]:focus,
.form input[type="time"]:focus,
.form input[type="week"]:focus,
.form input[type="number"]:focus,
.form input[type="email"]:focus,
.form input[type="url"]:focus,
.form input[type="search"]:focus,
.form input[type="tel"]:focus,
.form input[type="color"]:focus,
.form-field:focus {
  background-color: #fefffe;
  border-color: #3bb4f2;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(59, 180, 242, 0.3);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(59, 180, 242, 0.3);
}
.form select::-webkit-input-placeholder,
.form textarea::-webkit-input-placeholder,
.form input[type="text"]::-webkit-input-placeholder,
.form input[type="password"]::-webkit-input-placeholder,
.form input[type="datetime"]::-webkit-input-placeholder,
.form input[type="datetime-local"]::-webkit-input-placeholder,
.form input[type="date"]::-webkit-input-placeholder,
.form input[type="month"]::-webkit-input-placeholder,
.form input[type="time"]::-webkit-input-placeholder,
.form input[type="week"]::-webkit-input-placeholder,
.form input[type="number"]::-webkit-input-placeholder,
.form input[type="email"]::-webkit-input-placeholder,
.form input[type="url"]::-webkit-input-placeholder,
.form input[type="search"]::-webkit-input-placeholder,
.form input[type="tel"]::-webkit-input-placeholder,
.form input[type="color"]::-webkit-input-placeholder,
.form-field::-webkit-input-placeholder {
  color: #999999;
}
.form select::-moz-placeholder,
.form textarea::-moz-placeholder,
.form input[type="text"]::-moz-placeholder,
.form input[type="password"]::-moz-placeholder,
.form input[type="datetime"]::-moz-placeholder,
.form input[type="datetime-local"]::-moz-placeholder,
.form input[type="date"]::-moz-placeholder,
.form input[type="month"]::-moz-placeholder,
.form input[type="time"]::-moz-placeholder,
.form input[type="week"]::-moz-placeholder,
.form input[type="number"]::-moz-placeholder,
.form input[type="email"]::-moz-placeholder,
.form input[type="url"]::-moz-placeholder,
.form input[type="search"]::-moz-placeholder,
.form input[type="tel"]::-moz-placeholder,
.form input[type="color"]::-moz-placeholder,
.form-field::-moz-placeholder {
  color: #999999;
}
.form select:-ms-input-placeholder,
.form textarea:-ms-input-placeholder,
.form input[type="text"]:-ms-input-placeholder,
.form input[type="password"]:-ms-input-placeholder,
.form input[type="datetime"]:-ms-input-placeholder,
.form input[type="datetime-local"]:-ms-input-placeholder,
.form input[type="date"]:-ms-input-placeholder,
.form input[type="month"]:-ms-input-placeholder,
.form input[type="time"]:-ms-input-placeholder,
.form input[type="week"]:-ms-input-placeholder,
.form input[type="number"]:-ms-input-placeholder,
.form input[type="email"]:-ms-input-placeholder,
.form input[type="url"]:-ms-input-placeholder,
.form input[type="search"]:-ms-input-placeholder,
.form input[type="tel"]:-ms-input-placeholder,
.form input[type="color"]:-ms-input-placeholder,
.form-field:-ms-input-placeholder {
  color: #999999;
}
.form select::placeholder,
.form textarea::placeholder,
.form input[type="text"]::placeholder,
.form input[type="password"]::placeholder,
.form input[type="datetime"]::placeholder,
.form input[type="datetime-local"]::placeholder,
.form input[type="date"]::placeholder,
.form input[type="month"]::placeholder,
.form input[type="time"]::placeholder,
.form input[type="week"]::placeholder,
.form input[type="number"]::placeholder,
.form input[type="email"]::placeholder,
.form input[type="url"]::placeholder,
.form input[type="search"]::placeholder,
.form input[type="tel"]::placeholder,
.form input[type="color"]::placeholder,
.form-field::placeholder {
  color: #999999;
}
.form select::-moz-placeholder,
.form textarea::-moz-placeholder,
.form input[type="text"]::-moz-placeholder,
.form input[type="password"]::-moz-placeholder,
.form input[type="datetime"]::-moz-placeholder,
.form input[type="datetime-local"]::-moz-placeholder,
.form input[type="date"]::-moz-placeholder,
.form input[type="month"]::-moz-placeholder,
.form input[type="time"]::-moz-placeholder,
.form input[type="week"]::-moz-placeholder,
.form input[type="number"]::-moz-placeholder,
.form input[type="email"]::-moz-placeholder,
.form input[type="url"]::-moz-placeholder,
.form input[type="search"]::-moz-placeholder,
.form input[type="tel"]::-moz-placeholder,
.form input[type="color"]::-moz-placeholder,
.form-field::-moz-placeholder {
  opacity: 1;
}
.form select[disabled],
.form textarea[disabled],
.form input[type="text"][disabled],
.form input[type="password"][disabled],
.form input[type="datetime"][disabled],
.form input[type="datetime-local"][disabled],
.form input[type="date"][disabled],
.form input[type="month"][disabled],
.form input[type="time"][disabled],
.form input[type="week"][disabled],
.form input[type="number"][disabled],
.form input[type="email"][disabled],
.form input[type="url"][disabled],
.form input[type="search"][disabled],
.form input[type="tel"][disabled],
.form input[type="color"][disabled],
.form-field[disabled],
.form select[readonly],
.form textarea[readonly],
.form input[type="text"][readonly],
.form input[type="password"][readonly],
.form input[type="datetime"][readonly],
.form input[type="datetime-local"][readonly],
.form input[type="date"][readonly],
.form input[type="month"][readonly],
.form input[type="time"][readonly],
.form input[type="week"][readonly],
.form input[type="number"][readonly],
.form input[type="email"][readonly],
.form input[type="url"][readonly],
.form input[type="search"][readonly],
.form input[type="tel"][readonly],
.form input[type="color"][readonly],
.form-field[readonly],
fieldset[disabled] .form select,
fieldset[disabled] .form textarea,
fieldset[disabled] .form input[type="text"],
fieldset[disabled] .form input[type="password"],
fieldset[disabled] .form input[type="datetime"],
fieldset[disabled] .form input[type="datetime-local"],
fieldset[disabled] .form input[type="date"],
fieldset[disabled] .form input[type="month"],
fieldset[disabled] .form input[type="time"],
fieldset[disabled] .form input[type="week"],
fieldset[disabled] .form input[type="number"],
fieldset[disabled] .form input[type="email"],
fieldset[disabled] .form input[type="url"],
fieldset[disabled] .form input[type="search"],
fieldset[disabled] .form input[type="tel"],
fieldset[disabled] .form input[type="color"],
fieldset[disabled] .form-field {
  cursor: not-allowed;
  background-color: #eeeeee;
}
.form select.fo-radius,
.form textarea.fo-radius,
.form input[type="text"].fo-radius,
.form input[type="password"].fo-radius,
.form input[type="datetime"].fo-radius,
.form input[type="datetime-local"].fo-radius,
.form input[type="date"].fo-radius,
.form input[type="month"].fo-radius,
.form input[type="time"].fo-radius,
.form input[type="week"].fo-radius,
.form input[type="number"].fo-radius,
.form input[type="email"].fo-radius,
.form input[type="url"].fo-radius,
.form input[type="search"].fo-radius,
.form input[type="tel"].fo-radius,
.form input[type="color"].fo-radius,
.form-field.fo-radius {
  border-radius: 2px;
}
.form label {
	display: block;
	cursor: pointer;
	padding-right: 0.8em;
	float: left;
}
.form label input[type="radio"] {
	float: left;
	outline: none;
	margin-left: 0.08em;
}
.form label span {
	padding-left: 0.5em;
	display: inline;
}

/** table **/
.table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	margin-bottom: 1.6rem;
	border-spacing: 0;
	border-collapse: separate;
}
.table td, .table th {
	padding: 0;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td,
.table > tr > td {
  padding: 0.5em 0.1em 0.5em 0.1em;
  line-height: 1.6;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 1px solid #ddd;
}
.table > thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td,
.table > tr:first-child > td {
  border-top: 0;
}
.table tbody tr:first-child td {
  border-top: 2px solid #ddd;
}
.table .table-default {
	
}

dialog {
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}
dialog::backdrop { /* native */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
dialog + .backdrop { /* polyfill */
  background-color: green;
}
